@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    font-family: 'Young Serif', serif;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}
#mainimage{
    border: 10px solid black;
    display: block;
    margin: auto;
}
.container{
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}
.container span{
    margin: 0 35px;
}
.container span::after{
    content: '_';
    font-size: 70px;
    position: absolute;
    transform: translateX(-32px) translateY(-30px);
}
#textbox{
    text-align: center;
    display: block;
    margin: auto;
    height: 50px;
    width: 500px;
    font-size: 2rem;
}
.button{
    display: block;
    margin: 35px auto auto auto;
    width: 10rem;
    height: 100px;
    font-size: 2.5rem;
    border-radius: 15px;
    cursor: pointer;
}
.button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#filter{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.everything{
    display: none;
    font-size: 2.5rem;
    text-align: center;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    border: 5px solid black;
    width: 200px;
    cursor: pointer;
    color: black;
    z-index: 2;
    top: 55%;
}
#incorrect-letters{
    font-size: 2rem;
}
#dancingmonkey, #saddog{
    z-index: 3;
    position: absolute;
    top: 25%;
    background-color: white;
    transform: scale(3);
    display: none;
    border-radius: 25px;
    border: 5px black solid;
}
